.dashboard {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0rem;
   color: #059669;
     margin-top: 5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 16px;
}

.card {
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 0 24px 16px rgba(0, 0, 0, 0.12);
  color: #059669;
  position: relative;
  overflow: hidden;
  transition: transform 0.15s;
}

.card:nth-child(1) {
  background: linear-gradient(135deg, #ffffff 60%, #ffffff 100%);
}

.card:nth-child(2) {
  background: linear-gradient(135deg, #ffffff 60%, #ffffff 100%);
}

.card:nth-child(3) {
  background: linear-gradient(135deg, #ffffff 60%, #ffffff 100%);
}

.card:nth-child(4) {
  background: linear-gradient(135deg, #ffffff 60%, #ffffff 100%);
}

.card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.cardValue {
  font-size: 3.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.positive {
  color: #d1fae5;
  font-weight: 500;
}

.negative {
  color: #fee2e2;
  font-weight: 500;
}
.chartsSection {
  display: flex;
  gap: 24px;
  padding: 20px;
  flex-wrap: wrap;
}

.chartCard {
  flex: 1;
  min-width: 300px;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.20);
}

.chartCard h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 16px;
}
