.super-admin-login-container {
  width: 100%;
  height: 100vh;
  background: #0d1b2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.super-admin-login-box {
  width: 350px;
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 18px rgba(0,0,0,0.3);
}

.super-admin-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #1b263b;
}

.super-admin-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.super-admin-btn {
  width: 100%;
  padding: 12px;
  background: #1b263b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.super-admin-btn:hover {
  background: #415a77;
}

.error-text {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.back-to-admin {
  margin-top: 18px;
  text-align: center;
  color: #1b263b;
  cursor: pointer;
  font-size: 14px;
}

